apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    {{- include "sc.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    {{- include "sc.selectorLabels" (dict "component" "backend") | nindent 4 }}
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
