apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-data
  labels:
    {{- include "sc.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.db.storage }}
