apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ollama-models
  labels:
    {{- include "sc.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.ollama.storage }}
