apiVersion: v1
kind: Service
metadata:
  name: ollama
  labels:
    {{- include "sc.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    {{- include "sc.selectorLabels" (dict "component" "ollama") | nindent 4 }}
  ports:
    - port: 11434
      targetPort: 11434
      protocol: TCP
