apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  labels:
    {{- include "sc.labels" . | nindent 4 }}
    {{- include "sc.selectorLabels" (dict "component" "web") | nindent 4 }}
spec:
  replicas: {{ .Values.web.replicas }}
  selector:
    matchLabels:
      {{- include "sc.selectorLabels" (dict "component" "web") | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "sc.labels" . | nindent 8 }}
        {{- include "sc.selectorLabels" (dict "component" "web") | nindent 8 }}
    spec:
      containers:
        - name: web
          image: "{{ .Values.web.image }}:{{ .Values.web.tag }}"
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_PUBLIC_API_URL
              value: "/api"
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 30
